body {
  font-family: "Nunito", sans-serif;
    font-size: 16px;
    background-color: #426c98;
    line-height: 1.4;
    
  }





  header {
        
    padding: 10px;
    overflow: hidden;
   
    
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
    
    
  }


  header img {
    float:right;
    width:20px;
    padding:10px;

  }


 header a {
    color:antiquewhite;
    text-decoration:none;
    font-size:18px;
    
  }



  section {
    width:650px;
    margin: 20px auto 20px auto;
    padding:10px 30px 10px 30px;
    align-items:center;
    text-align:center;
    background-color:#ddc18d;

   
    }



    div.blog {
      width: 550px;
      margin-left:auto;
      margin-right:auto;
      text-align:center;
    }



    .photo {
        padding:0 0 10px 0;
    }

    h3 {
        font-size:24px;
        color:rgb(42, 80, 101);
    }

    h4 {
      font-size:18px;
      color:rgb(42, 80, 101);
      
      
  }


    .newspage img {
       margin: 0 auto 0 auto;
        width: 450px;
    }


    /* . {
        float:left;
        width: 25%;
        padding:25px 25px 25px 50px;
      } */


    footer {
        
        padding: 10px;
        overflow: hidden;
       
        
        display:flex;
        flex-wrap:wrap;
        align-items:center;
        justify-content:space-between;
        
        
      }
 
    
      footer img {
        float:right;
        width:20px;
        padding:10px;
    
      }


      footer a {
        color:antiquewhite;
        text-decoration:none;
        font-size:18px;
        
      }



      @media (max-width:600px){


        section.newspage {
          width:100%;
          margin-left: auto;
          margin-right: auto;
        
          text-align: center;
            }


            .newspage {
              width: 100%;
              text-align: center;
              margin-left: auto;
              margin-right: auto;
            
            }


          div.blog {
            width: 400px;
            text-align: left;
            margin-left: auto;
            margin-right: auto;
          }

  

          .newspage img {
            width: 300px;
            text-align: center;
              margin-left: auto;
              margin-right: auto;
          }


      }



      @media (max-width:300px){

        section.newspage {
          width: 275px;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
        
        }



        div.blog {
          width: 300px;
          text-align: left;
            margin-left: auto;
            margin-right: auto;
        }
/* 
        .blog {
          width:250px;
          
        } */

      }