body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      background-color: #ffff;
      line-height: 1.3;
      
    }

    header {
        background-image:url(photos/IMG-8219.jpg);
        background-size:cover;
        height:350px;
        padding: 20px;
      }

    .contact img {
       height: 20px;
      }


     div.titlemobile {
      display:none;
     }

     div.subtitlemobile{
      display: none;
     }


      div.title {
      display:flex;
      flex-wrap:wrap;
      align-items:left;
      justify-content:left;
      }

      .title h1 {
        font-family:Arial, Helvetica, sans-serif;
        font-size:78px;
        color:#fc633c;
        width: 1000px;
        margin-bottom:0px;
        text-shadow: 1px 1px 2px rgb(51, 56, 145);

        margin-left:35px;

      }


      div.subtitle {
        display:flex;
        flex-wrap:wrap;
        justify-content:left;
      }


      .subtitle h2 {
        font-family:Arial, Helvetica, sans-serif;
        font-size:28px;
        color:#ffff;
        margin:0px;
        width: 1000px;

        margin-left:35px;
      } 



    h1 {
        font-family:Arial, Helvetica, sans-serif;
        font-size:36px;
        color:#ff6600;
    }


    h2 {
        font-family:Arial, Helvetica, sans-serif;
        font-size:12px;
        color:#ffff;
    }

    h3 {
        font-family:Arial, Helvetica, sans-serif;
        font-size:18px;
        color:rgb(238, 114, 5);

    }

section {
        overflow: hidden;
      }


.aboutmobile {
    display:none;
      }


 .about {
    background-color: #FFDA00;
    width: 100%;
 }

 .about p {
    width: 600px;
    margin-top: 25px;
    font-size:16px;
    color:rgb(157, 75, 4);
  }

  .abouttext {
    float: left;
    width: 50%;
    padding: 60px 80px 50px 80px;;
  }

  .about img {
    float: left;
    width: 25%;
    padding:20px;
  }


  .news {
    background-color: #4c7ae7;
    width: 100%;
  }


  .news p {
    width: 600px;
    margin-top: 25px;
    font-size:16px;
    color:#fff;
  }

  .newstext {
    float: left;
    width: 50%;
    padding: 60px 80px 50px 80px;
  }


  .newstext a {
    text-decoration:none;
    color:#fc633c;
    font-size:18px;

  }

  .insta img {
    width: 25px;
    
  }

.founders img {
    float:left;
    width: 25%;
    padding:25px 25px 25px 50px;
  }




  .imagecontent {
    background-color: #d08c0e;
    width: 100%;

  }

 
 .container {
   max-width: 1200px;
   margin: 0 auto;
  text-align:center;
  padding-top:30px;
  }

  .row {
  display:flex;
   gap:10px;
   
  
  }

  .column {
    flex:1;
    padding:5px;  
  }

  .imagecontent img {
  width:35%;
  padding:8px;
  }

  .imagetext {
    color:#fff;
    text-align:center;
    margin: 0 auto;
    width: 50%;
  }



  .contact {
    background-color: #88a13b;
    width: 100%;
    
  }


  .contactus h3 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:24px;
    color:rgb(254, 252, 251);
    width:400px;
    padding-left: 20px;

  }



  footer {
    background-color: #a7b13a;
    padding: 10px;
    overflow: hidden;
    
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
    
    
  }
  
  footer p {
    font-size: 14px;
    float: left;
    color:#fff;
  }

  footer img {
    float:right;
    width:20px;
    padding:10px;

  }


 

  /* Mobile Section */

  @media (max-width:1100px){ 



    div.title {
      display:none;
    }

    div.subtitle {
      display:none;
    }


    div.titlemobile {
        display:flex;
        flex-wrap:wrap;
        align-items:center;
        justify-content: center;
      
      }


    div.titlemobile h1 {
        font-family:Arial, Helvetica, sans-serif;
        font-size:58px;
        color:#fc633c;
        

        text-align: center;
        width: 1000px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom:0px;
        text-shadow: 1px 1px 2px rgb(51, 56, 145);

      }

      div.subtitlemobile {
        display:flex;
        flex-wrap:wrap;
        align-items:center;
        justify-content: center;
       
      } 

      .subtitlemobile h2 {
        font-family:Arial, Helvetica, sans-serif;
        font-size:18px;
        color:#ffff;
        margin:0px;

        text-align: center;
        width: 800px;
        margin-right: auto;
        margin-left: auto;
        
      } 

  

section {
      overflow: hidden;
        }


header {
      height: 350px;
    }


.title h1 {
      font-size:58px;
      width: 800px;
    }

.subtitle h2 {
      font-size:22px;
      width: 600px;
    }


.about {
  display:none;
}

.aboutmobile {
  background-color: #FFDA00;
  display:block;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.aboutmobile img {
  float: none;
  width: 50%;
  padding: 20px 20px 0px 20px;

    }


.aboutmobile {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.abouttextmobile {
  float: none;
  width: auto;
  padding: 10px 20px 20px 20px;
}

.abouttextmobile p {
  font-size:16px;
  color:rgb(157, 75, 4);
  margin-left: auto;
  margin-right: auto;
}



.news {
  background-color: #4c7ae7;
  display:block;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}


.news img {
  float: none;
  width: 50%;
  padding: 20px 20px 0px 20px;

}

.newstext {
  float: none;
  width: auto;
  padding: 10px 20px 20px 20px;

}

.newstext img {
  width: 25px;
  
}

.newstext p {
  width:auto;
  font-size:16px;
  color:#fff;
  margin-left: auto;
  margin-right: auto;

}



.imagetext {
  float: none;
  width: auto;
  padding: 10px 20px 20px 20px;

}


.contact {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

  }

  .contactus h3 {
    float:none;
    width:auto;
    font-size:16px;
    margin-left: auto;
    margin-right: auto;
 
  }

  
  


  }


  @media (max-width: 500px){

    header {
      height: 120px;
    }

    div.titlemobile h1 {
      font-size:28px;
      width: 500px;
    }

    div.subtitlemobile h2 {
      font-size:12px;
      width: 300px;
    }

 

    section {
      overflow: hidden;
        }
    
    
    .about img {
      float: none;
       
     
    }
    
    
    .about {
      width: 100%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    
    }
    
    
    div.abouttext {
      float: none;
      width: 100%;
      padding: 5px;
      }

    
    .abouttext p {
    width:335px;
    margin-left: auto;
    margin-right: auto;
    }


    .news img {

      float: none;
    }
    
    
    .news {
      width: auto;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    
    }
    
    
    .newstext {
      float: none;
      width: auto;
      padding: 10px 20px 20px 20px;
    }
    
    .newstext p {
    margin-left: auto;
    margin-right: auto;
    }



    

  }


  @media (max-width:400px){



    abouttext p {
      width:300px;
    }

    newstext p {
      width:300px;
    }
  }


