body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      background-color: #ffff;
      line-height: 1.3;
      
    }

    header {
        background-image:url(photos/IMG-8219.jpg);
        background-size:cover;
        height:350px;
        padding: 20px;
      }

    .contact img {
       height: 20px;
      }

      header.nav {
        display:flex;
      }


    h1 {
        font-family:Arial, Helvetica, sans-serif;
        font-size:36px;
        color:#ff6600;
    }


    h2 {
        font-family:Arial, Helvetica, sans-serif;
        font-size:12px;
        color:#ffff;
    }

    h3 {
        font-family:Arial, Helvetica, sans-serif;
        font-size:18px;
        color:rgb(238, 114, 5);

    }

section {
        overflow: hidden;
      }


 .about {
    background-color: #FFDA00;
    width: 100%;
 }

 .about p {
    width: 600px;
    margin-top: 25px;
    font-size:16px;
    color:rgb(157, 75, 4);
  }

  .abouttext {
    float: left;
    width: 50%;
    padding: 60px 80px 50px 80px;;
  }

  .about img {
    float: left;
    width: 25%;
    padding:20px;
  }


  .news {
    background-color: #4c7ae7;
    width: 100%;
  }


  .news p {
    width: 600px;
    margin-top: 25px;
    font-size:16px;
    color:#fff;
  }

  .newstext {
    float: left;
    width: 50%;
    padding: 60px 80px 50px 80px;
  }

  .news img {
    float: left;
    width: 35%;
    padding:10px;
  }



  footer {
    background-color: #91b22f;
    padding: 10px;
    overflow: hidden;
    
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
    
    
  }
  
  footer p {
    font-size: 14px;
    float: left;
    color:#fff;
  }

  footer img {
    float:right;
    width:20px;

  }


 

  /* Mobile Section */

  @media (max-width:1380px){ 


  
  section {
  overflow: hidden;
    }


.about img {

  float: none;
  width: 100%;
  padding:3px;

}


.about {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}


.abouttext {
  float: none;
  width: 100%;
  padding: 60px 80px 50px 80px;
}

.abouttext p {

margin-left: auto;
margin-right: auto;
}



.news img {

  float: none;
  width: 100%;
  padding:3px;

}

.news {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.newstext {
  float: none;
  width: 100%;
  padding: 60px 80px 50px 80px;
}


.newstext p {

  margin-left: auto;
  margin-right: auto;
  }
  


  }


  @media (max-width: 900px){

 

    section {
      overflow: hidden;
        }
    
    
    .about img {
    
      float: none;
      width: 100%;
    
    }
    
    
    .about {
      width: 100%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    
    }
    
    
    .abouttext {
     
      float: none;
      width: 100%;
      padding: 5px;
    }
    
    .abouttext p {
    width:335px;
    margin-left: auto;
    margin-right: auto;
    }




    .news img {
    
      float: none;
      width: 100%;
    
    }
    
    
    .news {
      width: 100%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    
    }
    
    
    .newstext {
      float: none;
      width: 100%;
      padding: 5px;
    }
    
    .newstext p {
    width:335px;
    margin-left: auto;
    margin-right: auto;
    }

  }


  @media (max-width:400px){
    abouttext p {
      width:300px;
    }

    newstext p {
      width:300px;
    }
  }


